
/*
======================
For - leptop+Dextop
======================
*/

@media screen and (min-width: 1200px) and (max-width: 1399px) {

    .text-card {
        right: -21px;
        top: 100px;
    }


}


/*
====================
For - leptop
====================
*/
@media screen and (min-width: 992px) and (max-width: 1199px) {

    
    /*
    --------------
    banner-area
    --------------
    */

    .text-card {
        right: -21px;
        top: 100px;
    }

    .text-card2 {
        bottom: 78px;
        left: 35px;
    }

    .btn {
        width: 210px;
    }


}


/*
==================
For - Ipad/Tablet
====================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {

    /*
    --------------
    header-area
    --------------
    */

    .header-nav ul > li > a {
        font-size: 16px;
    }


    /*
    --------------
    banner-area
    --------------
    */

    .banner-flex {
        grid-template-columns: repeat(1, 1fr);
    }

    .banner-img {
        max-width: 350px;
        margin: 45px auto 0;
        padding: 0 15px;
    }

    .banner-img > img {
        width: 100%;
    }

    .text-card {
        right: -50px;
        top: 52px;
    }

    .text-card2 {
        bottom: 113px;
        left: -22px;
    }

    .d-md-block {
        display: block;
    }



    /* 
    ----------------
    habits-area
    ----------------
    */


    .habits-head p br {
        display: none;
    }

    .exercise-div {
        grid-template-columns: repeat(2, 1fr);
    }

    .exercise-div > div {
        margin-bottom: 40px;
    }



    /* 
    ----------------
    run-mile-area
    ----------------
    */

    .run-mile-box {
        gap: 40px;
    }

    .run-box-item {
        height: 100%;
    }

    .run-box-item small br {
        display: none;
    }

    .run-box-item img {
        height: 100%;
        object-position: center;
        object-fit: cover;
        border-radius: 18px;
    }



    


}


/*
==================
For - Mobile
====================
*/
@media screen and (max-width: 767px) {


    h2 {
        font-size: 32px;
    }

    p {
        font-size: 14px;
    }


    /*
    --------------
    header-area
    --------------
    */

    .header-nav {
        padding: 50px 0;
    }

    .habits-area .d-sm-none {
        display: block;
    }

    .habits-area .d-md-none {
        display: none;
    }

    .header-nav ul > li > a {
        font-size: 2vw;
        margin: 0;
    }

    



    /*
    --------------
    banner-area
    --------------
    */

    .banner-area {
        padding-left: 5%;
        padding-right: 5%;
    }

    .banner-flex {
        grid-template-columns: repeat(1, 1fr);
    }

    .banner-content h2 {
        font-size: 50px;
    }

    .banner-content h2 span {
        font-size: 100px;
    }

    .banner-content p {
        font-size: 14px;
        margin: ;
    }

    .banner-img {
        max-width: 350px;
        margin: 45px auto 0;
        padding: 0 15px;
    }

    .banner-img > img {
        width: 100%;
    }

    .text-card {
        right: 0;
        top: 52px;
    }

    .text-card2 {
        bottom: 140px;
        left: -9px;
    }
    
    .text-card2 .circle-div {
        width: 30px;
        height: 30px;
    }

    .text-card1 {
        padding: 12px 18px;
    }

    .text-card1 h3 {
        font-size: 30px;
        line-height: 1;
        margin: 0;
    }

    .text-card1 small {
        font-size: 9px;
        line-height: 1;
    }

    .text-card2 h4 {
        font-size: 18px;
        line-height: 1.4;
    }

    .text-card2 p {
        font-size: 12px;
        line-height: 1.4;
    }




    /* 
    ----------------
    habits-area
    ----------------
    */

    .habits-area {
        padding: 100px 0 60px;
    }

    .habits-head p,
    .team-heading small {
        padding: 0 10px;
    }

    .habits-head p br,
    .team-heading small br {
        display: none;
    }

    .exercise-div {
        grid-template-columns: repeat(2, 1fr);
        padding: 54px 0 0;
    }

    .exercise-div > div {
        margin-bottom: 40px;
    }




    /* 
    ----------------
    run-mile-area
    ----------------
    */

    .run-mile-area {
        padding: 0;
    }

    .run-mile-box {
        gap: 20px;
    }

    .run-box-item {
        height: 100%;
    }

    .run-box-item small {
        margin: 0 0 24px;
    }

    .run-box-item small br {
        display: none;
    }

    .run-box-item img {
        height: 100%;
        object-position: center;
        object-fit: cover;
        border-radius: 18px;
    }




    /* 
    ---------------------
    bmi-calculator-area
    ---------------------
    */

    .bmi-heading {
        margin: 25px 0 32px;
    }

    .bmi-chart table {
        margin: 23px 0 42px;
    }

    .bmi-grid {
        grid-template-columns: repeat(1, 1fr);
    }



    /* 
    ----------------
    our-team-area
    ----------------
    */

    .our-team-area {
        padding: 72px 0;
    }

    .team-box {
        grid-template-columns: repeat(3, 1fr);
        margin: 54px 0 0;
    }

    .inr-team-div h4 {
        font-size: 18px;
    }

    

    


}

@media screen and (min-width: 744px) and (max-width: 767px) {

    
    .min-744-block {
        display: block !important;
        line-height: 0.1;
    }


}


@media screen and (max-width: 575px) {


    /*
    --------------
    header-area
    --------------
    */

    .header-nav {
        padding: 50px 0;
    }

    .d-sm-none {
        display: none;
    }

    .d-md-none {
        display: block;
    }


    /*
    --------------
    banner-area
    --------------
    */

    .banner-area {
        padding-left: 0;
        padding-right: 0;
    }

    .banner-content h2 {
        font-size: 36px;
    }

    .banner-content h2 span {
        font-size: 61px;
    }

    .join__btn {
        display: flex;
        gap: 10px;
    }

    .join__btn .btn {
        width: 45%;
        margin: 0;
        font-size: 15px;
    }



    /* 
    ----------------
    habits-area
    ----------------
    */
    
    .habits-area {
        padding: 0 0 26px;
    }

    .exercise-div {
        grid-template-columns: repeat(1, 1fr);
    }






    /* 
    ----------------
    run-mile-area
    ----------------
    */

    .run-mile-area {
        padding: 0;
    }

    .run-mile-box {
        grid-template-columns: repeat(1, 1fr);
    }

    .run-box-item small {
        margin: 0 0 24px;
    }

    .run-box-item small br {
        display: none;
    }

    .run-box-item img {
        margin: 30px 0 0;
        height: auto;
    }



    /* 
    ---------------------
    bmi-calculator-area
    ---------------------
    */

    .bmi-chart h3 {
        font-size: 16px;
    }

    .bmi-chart table {
        margin: 23px 0 42px;
    }

    .bmi-form select {
        background-position: 90% center;
    }

    .design-select {
        background-position: 95% center !important;
    }



    /* 
    ----------------
    our-team-area
    ----------------
    */

    .our-team-area {
        padding: 66px 0;
    }

    .team-box {
        grid-template-columns: repeat(1, 1fr);
        margin: 36px 0 0;
    }

    


}







/* ---For - Fixed Container Width --- */

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container {
        max-width: 1100px;
    }
}